/* Default set */
*{ padding:0;
    margin:0;
    box-sizing: border-box;
}
/* Bootstrap overrides  */


/* MY SET */
div.jumbotron{
    background-color: #7551FE;
}
div.secondBarIcon{
    background-color:#FFEEDA;
    color:#BA6600;
    height:40px;
    width: 40px;
}
img.userIcon {
    height: 40px;
    width:40px;
    background-color:green;
    object-fit: contain;
}
button.notificIcon {
    height: 40px;
    width: 40px;
}
button.notificIcon>div{
    background-color: lightgrey;
}
img.userImage{
    height: 30px;
}
.bg-Viola{
    background-color: #7551FE;
}
div.courseBox:hover{
    transform: scale(1.07);
    box-shadow: 0 0 1rem rgba(117,81,254,0.85);
    transition: transform .1s ease-out 0.1s,box-shadow .1s ease-out 0.1s;
}
div.courseBox{
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
}
.overBookmark{
    transform: rotate(1turn);
    transition: transform .3s linear 0.1s, color 0.2s linear 0.4s ;
}
div.userBookmark {
    color:#7551FE;
}
